aws_region           = "us-east-1"
iam_role_arn         = ""
lambda_zip_path      = "../lambda.zip"
pinecone_api_key     = ""
pinecone_index       = ""
anthropic_secret_arn = ""
github_secret_arn    = ""
pinecone_secret_arn  = ""
vpc_id               = ""
subnet_ids           = ""
ecs_security_group   = ""
